[build]
  command = "cd client && npm install && npx vite build"
  publish = "client/dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  conditions = {Role = ["admin", "user"]}

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
